@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 6px;
  border: 2px solid rgb(248, 247, 247);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1; /* Darker color on hover */
}
